<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="article">

	<select id="getBoardInfo" parameterType="String" resultType="com.greenart.grp.model.BoardVO">
		SELECT * FROM grp_board WHERE boardCode = #{boardCode}
	</select>
	
	<select id="getArticleList" parameterType="String" resultType="com.greenart.grp.model.ArticleVO">
		SELECT * FROM grp_article_${boardCode} ORDER BY aid DESC
	</select>

</mapper>










