<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="register">
	
	<insert id="setRegisterOne" parameterType="membervo">
		INSERT INTO member SET userid = #{userid}, passwd = #{passwd}, username = #{username}, email = #{email}, regdate = now()
	</insert>
	
	<select id="getRegisterAll" resultType="membervo">
		SELECT * FROM member ORDER BY id DESC
	</select>
	
	<select id="getCountAll" resultType="int">
		SELECT COUNT(id) FROM member
	</select>
	
	<delete id="setRegisterDeleteOne" parameterType="int">
		DELETE FROM member WHERE id = #{id}
	</delete>
	
	<update id="setRegisterUpdateOne" parameterType="membervo">
		UPDATE member SET 
			userid 		= #{userid},
			passwd 		= #{passwd},
			username 	= #{username},
			email 		= #{email} 
		WHERE id = #{id}
	</update>
	
	<select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(userid) FROM member WHERE userid = #{userid}
	</select>
	
	<update id="levelChange" parameterType="membervo">
		UPDATE member SET level = #{level} WHERE id = #{id}
	</update>
	
	<select id="getRegisterUpdateOne" parameterType="int" resultType="membervo">
		SELECT * FROM member WHERE id = #{id}
	</select>
	
	<select id="loginCheck" parameterType="hashmap" resultType="int">
		SELECT COUNT(id) FROM member WHERE userid = #{userid} AND passwd = #{passwd}
	</select>
	
	<select id = "setSessionLogin" parameterType="membervo" resultType="membervo">
		SELECT userid, username, level FROM member WHERE userid = #{userid} AND passwd = #{passwd}
	</select>
	
</mapper>





