@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-family: '맑은 고딕';
    font-size: 12px;
}

/* font */
.noto {
    font-family: 'Noto Sans KR', sans-serif;
}

.pop {
    font-family: 'Poppins', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

/* font size */
.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}

/* font color */
.f6 {
    color: #fff;
}

.gray {
    color: #555;
}

.tomato {
    color: tomato;
}

/* font weight */
.weight300 {
    font-weight: 300;
}

.weight400 {
    font-weight: 400;
}

.weight500 {
    font-weight: 500;
}

.weight700 {
    font-weight: 700;
}

/* bgcolor */
.bg-white {
    background-color: #fff;
}

.bg-gray {
    background-color: #eee;
}

/* button */

.btn-red {
    display: inline-block;
    padding: 9.5px 10px;
    /* 가변 타입 */
    background-color: #d92550;
    border-radius: 2px;
    color: #fff;
    font-weight: 700;
}

.btn-normal {
    display: inline-block;
    padding: 9.5px 10px;
    /* 가변 타입 */
    background-color: #3f51b5;
    border-radius: 2px;
    color: #fff;
    font-weight: 700;
}

.btn-cancel {
    display: inline-block;
    padding: 9.5px 10px;
    /* 가변 타입 */
    background-color: #edeff5;
    border-radius: 2px;
    color: #000;
    font-weight: 700;
}


button {
    cursor: pointer;
    font-size: 12px;
}

.btn-on {
    /* 활성화 */
    display: inline-block;
    width: 75px;
    /* 고정 타입 */
    height: 35px;
    text-align: center;
    line-height: 37px;
    border-radius: 2px;
    background-color: #3f51b5;
    border: 1px solid transparent;
    color: #fff;
}

.btn-off {
    /* 비활성화 */
    display: inline-block;
    width: 75px;
    height: 35px;
    text-align: center;
    line-height: 37px;
    border-radius: 2px;
    background-color: #edeff5;
    border: 1px solid #d4d4d4;
    color: #000;
}

.s-btn-on {
    /* 활성화 */
    display: inline-block;
    width: 35px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 2px;
    background-color: #3f51b5;
    border: 1px solid transparent;
    color: #fff;
    font-size: 12px;
}

.s-btn-off {
    /* 비활성화 */
    display: inline-block;
    width: 35px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 2px;
    background-color: #edeff5;
    border: 1px solid #d4d4d4;
    color: #000;
    font-size: 12px;
}

/* flex */
.flex {
    display: flex;
}

.flex-justify {
    justify-content: space-between;
}

/* float */
.float-l {
    float: left;
}

.float-r {
    float: right;
}

.clearfix {
    clear: both;
}

/* input */

.input-65 {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #d5d5d5;
    width: 65px;
    height: 35px;
    font-size: 12px;
}

.input-75 {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #d5d5d5;
    width: 75px;
    height: 35px;
    font-size: 12px;
}

.input-135 {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #d5d5d5;
    width: 135px;
    height: 35px;
    font-size: 12px;
}

input {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #d5d5d5;
    width: 150px;
    height: 35px;
    font-size: 12px;
}

.input-100 {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #d5d5d5;
    width: 100%;
    height: 35px;
    font-size: 12px;
}

/* select */
.sel-attend {
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #d5d5d5;
    width: 65px;
    height: 30px;
}


select {
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #d5d5d5;
    width: 150px;
    height: 35px;
}

.sel-55 {
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #d5d5d5;
    width: 55px;
    height: 35px;
}

.sel-135 {
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #d5d5d5;
    width: 135px;
    height: 35px;
}

.sel-100 {
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #d5d5d5;
    width: 100%;
    height: 35px;
}

/* margin : 개체 개체 사이를 띄울 때*/
.m-t5 {
    margin-top: 5px;
}

.m-t10 {
    margin-top: 10px;
}

.m-t15 {
    margin-top: 15px;
}

.m-t20 {
    margin-top: 20px;
}

.m-t30 {
    margin-top: 30px;
}

.m-b5 {
    margin-bottom: 5px;
}

.m-b10 {
    margin-bottom: 10px;
}

.m-b15 {
    margin-bottom: 15px;
}

.m-b20 {
    margin-bottom: 20px;
}

.m-tb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-tb20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m-tb30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.m-lr10 {
    margin-left: 10px;
    margin-right: 10px;
}

.m-lr20 {
    margin-left: 20px;
    margin-right: 20px;
}

.m-lr30 {
    margin-left: 30px;
    margin-right: 30px;
}

/* padding 개체 자신의 두께를 크게 만들어 띄울 때*/
.p-tb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-tb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-lr3 {
    padding-left: 3px;
    padding-right: 3px;
}

.p-lr10 {
    padding-left: 10px;
    padding-right: 10px;
}

.p-lr20 {
    padding-left: 20px;
    padding-right: 20px;
}

.p10 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.p20 {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.p30 {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

/* align */
.left {
    text-align: left;
}

.center {
    text-align: center;
}

/* underline */
.under {
    text-decoration: underline;
}

/* paging design */
.page {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #ddd;
    font-size: 14px;
    cursor: pointer;
}

.page-active {
    background-color: #3f51b5;
    border: 1px solid transparent;
}